* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    background-color: #EEE;
}

form {
    padding: 20px;
    background-color: #CCC;
    width: 190px;
    height: 180px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

input {
    padding: 5px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}